.form__group input,
.form__group textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #e2e2e2;
  color: rgb(0, 0, 0);
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form__group input::placeholder,
.form__group textarea::placeholder {
  font-size: 0.8rem;
  color: #000000;
}

.form button {
  color: #ffffff;
}
