.section__subtitle {
  color: #B800C8 !important;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-left: 40px;
  position: relative;
}

.section__subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 30px;
  height: 1px;
  background: #B800C8;
  color: #B800C8;
}
